html {
    background: white;
}

body {
    width: 100vw;
}

.exercise {
    width: 80%;
    margin: auto;
}

.exercise [class*="col"] {
    background: #cda5f3;
    border: solid 1px black;
    border-radius: 5px;
    text-align: center;
}